/* @charset "utf-8";
@font-face{font-family:"Guardian-EgypTT";src:url("/assets/type/Guardian-EgypTT-Medium.eot?v=2");src:url("/assets/type/Guardian-EgypTT-Medium.eot?v=2#iefix") format("embedded-opentype"),url("/assets/type/Guardian-EgypTT-Medium.woff2?v=2") format("woff2"),url("/assets/type/Guardian-EgypTT-Medium.woff?v=2") format("woff"),url("/assets/type/Guardian-EgypTT-Medium.ttf?v=2") format("truetype"),url("/assets/type/Guardian-EgypTT-Medium.svg?v=2#Guardian EgypTT") format("svg");font-style:normal;font-weight:500;font-stretch:normal;font-display:swap;} */
/* * {
  color: red;
} */

 /* - - - - - - - -  FlexBox   - - - - - - -  - - - - - -  */
.tjn-flex {
  display: flex;
  align-items: flex-start;
  
}
.tjn-flex-col {
  flex-direction: column;
}

.tjn-flex-row {
  flex-direction: row;
}
.tjn-flex-between {
  justify-content: space-between;
}
.tjn-flex-around {
  justify-content: space-around;

}
.tjn-flex-evenly {
  justify-content:  space-evenly;
}

.tjn-align-start {
  align-self: flex-start;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */




 /* - - - - - - - -  font stuff  - - - - - - -  - - - - - -  */
 *{
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
 }
.tjn-mini-header {
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 2vh;
}

.tjn-mini-header2 {
  font-weight:bold;
  padding-top: 3vw;
  padding-bottom: .85vw;
}

.tjn-storename{
  text-decoration: none;
  font-size: 14px;
  color: #757575;
}
.tjn-storename{
  text-decoration: none;
  font-size: 14px;
}

 .tjn-storename:focus, .tjn-storename:active, .tjn-storename:visited {
  text-decoration: none;
  color: #757575;
}
.tjn-storename:hover{
  text-decoration: underline;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */


.tjn-itemTitle {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333333;
  font-family: "Guardian-EgypTT",Arial,sans-serif;
}

.tjn-price-and-message {
  width: 100%;
}

.tjn-deets {
  align-items: flex-start;
}

.tjn-shipping {
  width: 100%;
  height: 40vh;
  align-items: flex-start;
}

.tjn-rating {
  padding-right: 1.2vw;
}

.tjn-rating-bar{
 height: 18px;
 align-items: center;
 margin-bottom: 6px;
}

.tjn-numstars {
  font-size: 14px;
}

.tjn-itemPrice {
  color: #222222;
  font-size: 18px;
  font-weight: 500;
}